.feedback{
    padding: 144px 0 112px;
    @include media-query(992px) { 
        padding-top: 48px;
        padding-bottom: 80px;
    }
    @include media-query(768px) { 
        padding-top: 24px;
        padding-bottom: 72px;

    }
    .space-bootom{
        padding-bottom: 144px;
        @include media-query(992px) { 
            padding-bottom: 100px;
        }
        @include media-query(768px) { 
            padding-bottom: 72px;
    
        }
    }
    .img-block{
        position: relative;
        overflow: hidden;
        cursor: pointer;
        width: 33%;
        @include media-query(768px) { 
            width: 50%;
        }
        @include media-query(490px) { 
            width: 100%;
        }
        .content{
            position: absolute;
            transition: $transition;
            left: 00px;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
            padding: 24px;
            display: grid;
            place-content: center;
            opacity: 0;
            a{
                &:hover{
                    svg{
                        stroke: $accent-1;
                    }
                }
            }
        }
        &:hover{
            .content{
                opacity: 1;
                transition: $transition;
            }
        }
    }
    .customer-feed{
        padding: 25px;
        position: relative;
        img{
            position: absolute;
        }
        .content{
            padding: 24px 56px;
            background: $black-1;
            p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                        line-clamp: 3; 
                -webkit-box-orient: vertical;
            }
        }
        .costumer-logo{
            left: 0;
            top: 0;
        }
        .quite-icon{
            bottom: 0;
            right: 0;
        }
    }
}